<% include header %>

  <div class="container bump-me">
    <div class="body-content">
      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Create Court Room</h4>
            </div>
            <div class="modal-body">
                <input type="text" class="name form-control" placeholder="Trial">
            </div>
            <div class="modal-footer">
              <a class="closeName btn btn-default">Close</a>
              <button type="button" class="saveName btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-offset-1">
          <div class="panel panel-default">
            <div class="panel-heading">Create an archive</div>
            <div class="panel-body">
              <p>
                Everyone who joins either the Host View or Participant View
                joins a single OpenTok session. Anyone with the Host View
                open can click Start Archive or Stop Archive to control
                recording of the entire session.
              </p>
            </div>
            <div class="panel-footer">
              <a class="judge btn btn-danger" href="host">Judge Login</a>
              <a class="btn btn-warning" href="host">Stenographer Login</a>
              <a class="btn btn-primary" href="lawyer">Lawyer Login</a>
              <a class="btn btn-info" href="participant">Witness Login</a>
            </div>
          </div>

        </div>
        <div class="col-lg-6 col-offset-1">

          <div class="panel panel-default">
            <div class="panel-heading">Play an archive</div>
            <div class="panel-body">
              <p>
                Click through to Past Archives to see examples of using the
                Archiving REST API to list archives showing status (started,
                stopped, available) and playback (for available archives).
              </p>
            </div>
            <div class="panel-footer">
              <a class="btn btn-success" href="history">Past Archives</a>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>

<% include footer %>
