<% include header %>

  <div class="container bump-me">
    <div class="body-content">
      <div class="row">
        <div class="col-lg-6 col-offset-1">
          <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="url"></h2>
            </div>
            <div class="panel-body">
              <p>
                Share the above url to add users to this court session.
              </p>
            </div>
            <div class="panel-footer">
              <a class="judge btn btn-danger" href="/host">Judge Login</a>
              <a class="sten btn btn-warning" href="/host">Stenographer Login</a>
              <a class="lawy btn btn-primary" href="/lawyer">Lawyer Login</a>
              <a class="witn btn btn-info" href="/participant">Witness Login</a>
            </div>
          </div>

        </div>
        <div class="col-lg-6 col-offset-1">

          <div class="panel panel-default">
            <div class="panel-heading">Play an archive</div>
            <div class="panel-body">
              <p>
                Click through to Past Archives to see examples of using the
                Archiving REST API to list archives showing status (started,
                stopped, available) and playback (for available archives).
              </p>
            </div>
            <div class="panel-footer">
              <a class="btn btn-success" href="/history">Past Archives</a>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
<script>
  var x = document.URL.split('/').pop();
  $('.url').append(document.URL);
    $('.judge, .sten').attr('href','/host/' + x);
    $('.lawy').attr('href','/lawyer/' + x);
    $('.witn').attr('href','/participant/' + x);
  </script>
<% include footer %>
